html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #4f99a8;
}
textarea{
    resize: none;
    min-width:100px;
    max-height:490px;
}
.UserRegister{
    margin: 30px auto;
    text-align: center;
    display: block;
    justify-content: left;
    width: 500px;
    height: 800px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman';
}
#UserBox{
    color: white;
    background-color: gray;
    width: 400px;
    margin: 5px auto;
    text-align: center;
    justify-content:center;
    display: inline-block;
    font-size: 20px;
}
.BoxLbl{
    text-align: center;
    width: 500px;
    height: 100px auto;
    justify-content: center;
    display:inline-grid;
}
.UserBtn{
    margin: 25px;
    justify-content:center;
}
#btn{
    background-color: lightgreen;
    border: none;
    height: 50px;
    width: 400px;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
#btn:hover{
    background-color:grey;
    color:white;
}
#btn:active{
    background-color:lightgreen;
    color:black;
}
.Error{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
#TitleBox{
    margin: 5px auto;
    width: 500px;
    text-align: left;
    justify-content: center;
    display: inline-block;
    background-color: black;
    color: white;
    height: 40px;
}
#DescriptionBox {
    margin: 5px auto;
    width: 500px;
    text-align: start;
    justify-content: center;
    display: inline-block;
    background-color: black;
    color: white;
    height: 150px;
}
#DateBox{
    height: 50px;
    width: 500px;
    justify-content: center;
    margin: 5px auto;
    display: inline-block;
}
#Error{
    color:red;
    font-weight: bold;
}