@model ToDo_List_Infrastructure.DTO.TaskDetailsDTO
@{
    ViewData["Title"] ="Zadanie"+ Model.Title;
}
<header>
    <link rel="stylesheet" href="~/css/Task.css" asp-append-version="true" />
</header>
<div class="TaskDetails">
<p>Tytuł: @Model.Title</p>
<br />
<br />
<p> Staus: @Model.state.ToString() Data Zakończenia @Model.EndDate.ToString("d")</p>
<br />
<br />
<p>Opis: @Model.Description</p>
</div>
