@model ToDo_List_Infrastructure.Commands.User.Details;
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
@{
    
    ViewData["Title"] = "Szczegóły użytkownika";
    <div class="DetailsBox">
        <div id="WelcomBox">
            <p id="DescUser">Witaj użytkowniku <b style="text-decoration:underline;">@Model.name</b>.<br />Poniżej znajdują się twoje dane</p>
        </div>
        <div id="EmailBox">
            <label id="DescUser">Email:</label>
            <p id="UserTxt">@Model.email</p>
        </div>
        <div id="RoleBox">
            <label id="DescUser">Rola:</label>
            <p id="UserTxt">@Model.Role</p>
        </div>
        <div class="AccontBtnBox">
            <a asp-action="Edit" asp-controller="User" asp-route-id="@Model.id"><button id="EditBtn">Edytuj</button></a>
            <a asp-action="Index" asp-controller="User"><button id="BackBtn">Powrót</button></a>
        </div>
    </div>
}
<script>
    function Show(str) {
        var type = document.getElementById("PasswordTxt").type;
        if (type == "password") {
            let pass = prompt("Podaj hasło", "Hasło");
            if (pass == str) {
                document.getElementById("PasswordTxt").type = "text"
                document.getElementById("PasswordTxt").value = str;
                document.getElementById("ShowPassword").value = "Ukryj hasło"
            }
        } else {
            document.getElementById("PasswordTxt").type = "password"
            document.getElementById("PasswordTxt").value = "hasłohasłohasło"
            document.getElementById("ShowPassword").value = "Pokaż hasło"
        }
}
</script>