@model ToDo_List_Infrastructure.Commands.User.CreateUser
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
@if(ViewBag.Error != null)
{
    <div class="Error">
            @ViewBag.Error
    </div>
}
@using(Html.BeginForm("Register","User",FormMethod.Post)){
<div class="UserRegister">
    <div class="BoxLbl">
        <label>Nazwa użytkownika</label>
        <input type="text" asp-for="@Model.Name" id="UserBox"/>
        
    </div>
    <div class="BoxLbl">
        <label>Email</label>
        <input type="email" asp-for="@Model.Email" id="UserBox"/>
        <span asp-validation-for="Email" id="Error"></span>
    </div>
    <div class="BoxLbl">
        <label>Hasło</label>
        <input type="password" asp-for="@Model.Password" id="UserBox"/>
            <span asp-validation-for="Password" id="Error"></span>
    </div>
    <div class="UserBtn">
            <input type="submit" id="btn" value="Zapisz"/>
    </div>
</div>
}
</html>