@using System.Net;
@{
    ViewData["Title"] = "Brak dostępu";
}
<header>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
     <link rel="stylesheet" href="~/css/Counter.css" asp-append-version="true" />
</header>
<div class="Counter">
    <div class="CounterBox">
        Twój token ma czasu<br />
    </div>
</div>
<p class="alert-warning">Próbujesz dostać się do zasobu dla zalogowanych użytkowników.<br />Jeżeli chcesz uzyskać dostęp zaloguj się.</p>

